</main>
<footer class="py-3 my-4 border-top">
  <div class="mx-4">
    <div class="row align-items-center">

      <!-- Left: Copyright -->
      <div class="col-md-4 text-start text-body-secondary">
        © 2026 CVision, Inc
      </div>

      <!-- Center: Logo + Text -->
      <div class="col-md-4 d-flex justify-content-center">
        <a href="/" class="d-flex align-items-center text-decoration-none">
          <img src="./images/ResumeAnalyzerLogo.png" alt="Logo" height="55px"/>

          <div class="d-flex ms-2">
            <span class="fs-2 fjalla-one-regular" style="color: #0078AA;">
              CV
            </span>
            <span class="fs-2 fjalla-one-regular" style="color: #F2DF3A;">
              ision
            </span>
          </div>
        </a>
      </div>

      <!-- Right: Navigation -->
      <div class="col-md-4">
        <ul class="nav justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="/upload" class="nav-link px-2 text-body-secondary">Upload</a></li>
          <li class="nav-item"><a href="/dashboard" class="nav-link px-2 text-body-secondary">Dashboard</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
</body>
</html>